%title-1 {
  font-family: $font-title;
  font-size: 48px;
  line-height: 1;
  letter-spacing: calc(-0.005 * 48px);
}

%title-2 {
  font-family: $font-title;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: calc(-0.005 * 32px);
}

%body {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: calc(-0.025 * 16px);
}

%font-button {
  @extend %body;
  line-height: 1;
  font-weight: 500;
}

%caption {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: calc(-0.015 * 14px);
  font-weight: 500;
}
