%link__wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

%link__line {
  @media (any-pointer: fine) {
    background: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: transform 0.7s $ease-out-expo;
    width: 100%;
  }
}

%link__line--visible {
  transform: scaleX(1);
  transform-origin: left center;
}

%link__line--hidden {
  transform: scaleX(0);
  transform-origin: right center;
}

%link {
  @extend %link__wrapper;

  display: inline-block;

  &:after {
    @extend %link__line;
    @extend %link__line--visible;
  }

  &:hover {
    &:after {
      @extend %link__line--hidden;
    }
  }
}

%link--hidden {
  @extend %link__wrapper;

  display: inline-block;

  &:after {
    @extend %link__line;
    @extend %link__line--hidden;
  }

  &:hover {
    &:after {
      @extend %link__line--visible;
    }
  }
}

%button-hover {
  .c-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__inner {
      display: flex;
      transform: translateY(0);
      transition: transform 0.3s $ease-button-hover;
      margin-right: 2px;

      > span {
        /* white-space: nowrap; */
      }
    }

    &__animated {
      /* white-space: nowrap; */
      position: absolute;
      top: 100%;
      display: none;

      @media (any-pointer: fine) {
        display: inline-block;
      }
    }
  }

  &:hover {
    @media (any-pointer: fine) {
      .c-link__inner {
        transform: translateY(-100%);
      }
    }
  }
}
