.c-button {
  @extend %font-button;
  border-radius: 8px;
  padding: 16px;
  transition: transform 0.2s $ease-button-hover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include cursor {
    &:hover {
      transform: scale(1.05);
    }
  }

  &:not(&--no-animate) {
    @extend %button-hover;
  }

  &--primary {
    .c-button__inner {
      align-items: center;
      justify-content: center;
      @include flex-gap(8px);
      flex-direction: row-reverse;
    }
  }

  &--reversed {
    .c-button__inner {
      flex-direction: row;
    }
  }

  &--outline {
    background: $off-white;
    color: $black;
    border: $border-current;
    padding: 15px 16px;
  }

  &--secondary {
    padding: 12px;
  }

  &--black {
    background: $black;
    color: $off-white;
  }

  &--white {
    background: $off-white;
    color: $black;
  }

  &--icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: flex;
  }
}

.c-button,
button {
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
